
    <div class="container mt-4">
        <h1 class="mb-3">Post</h1>
        {{#if post}}
            <div class="blog-post card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{post.blog_title}}</h2>
                    <p class="card-text">{{post.blog_text}}</p>
                    <footer class="blockquote-footer">{{post.user.username}} on <cite title="Source Title">{{post.blog_date}}</cite></footer>
                </div>
            </div>
            <div>
                {{#each post.comments}}
                <div class="blog-comment card mb-2">
                    <div class="card-body">
                        <p class="card-text">{{this.comment_text}}</p>
                        <footer class="blockquote-footer">{{this.user.username}} on <cite title="Source Title">{{this.comment_date}}</cite></footer>
                    </div>
                </div>
                {{/each}}
            </div>
            {{> comment-form}}
    </div>
    {{else}}
        <p>No post found.</p>
    {{/if}}